@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --lightest-blue: #e9f3f6;
  --light-blue: #9ac5d2;
  --lighter-blue: #e7faff;
  --dark-blue: #045770;

  --background-lightest: var(--lightest-blue);
  --background-lighter: var(--lighter-blue);
  --background-light: var(--light-blue);
  --foreground-darkest: var(--dark-blue);
}

body {
  background-color: var(--background-lightest);
  color: var(--foreground-darkest);
}
